<% layout("/layouts/boilerplate") %>

<div class = "row mt-3">
    <h1 class="col-6 offset-3">Sign Up for havenly </h1>
    <!--"col-6 offset-3"
    This is used for centering the text-->
    <div class = "col-6 offset-3">
        <form action="/signup" method = "POST" class = "needs-validation" novalidate>
            <div class="mb-3">
      <label for="user-name">Username</label>
      <input
        name="username"
        id ="username"
        placeholder="enter title"
        type="text"
        class="form-control"
        required>

          <div class="invalid-feedback">
           Please enter the title 
          </div>
    </div>


      <div class="mb-3">
      <label for="email">Email-Id</label>
      <input
        name="email"
        id ="email"
        placeholder="enter title"
        type="email"
        class="form-control"
        required>


    </div>
<div class="mb-3">
      <label for="password">Pssword</label>
      <input
        name="password"
        id ="password"
        placeholder="enter title"
        type="password"
        class="form-control"
        required>

        
    </div>

    

    
    
    <button class = "btn btn-success">Sign-Up</button>
    


        </form>

    </div>
</div>